<ul class='paging'>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1832 Agra Ukhbar Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Dr. Henderson's Press</span><br><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Dr. John Henderson</span><br><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> L. Baptist</span><br><span style='color:#000000;'>Newspaper/periodical(s):</span><span style='color:#CD5C5C;'> Agra Ukbar [Agra Ukhbar]; Mofussil Akhbar</span><br><span style='color:#000000;'>Editor(s):</span><span style='color:#CD5C5C;'> Henry Tandy (d. 1842); A. and P. Saunders</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1833 Zubdat al-Akhbar Press
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Wajid Ali Khan</span><br><span style='color:#000000;'>Newspaper/periodical(s):</span><span style='color:#CD5C5C;'> Zubdat al-Akhbar</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1838 W. Greenway's Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> School Book Society's Press</span><br><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> William Greenway</span><br><span style='color:#000000;'>Newspaper/periodical(s):</span><span style='color:#CD5C5C;'> Greenway's Agra Journal</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1846 Agra College Press
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Agra College</span><br><span style='color:#000000;'>Manager/superintendent:</span><span style='color:#CD5C5C;'> Mr. Fallon; W.J. Beale</span><br><span style='color:#000000;'>Newspaper/periodical(s):</span><span style='color:#CD5C5C;'> Sadr al-Akhbar; Akhbar al-Haqa'iq</span><br><span style='color:#000000;'>Editor(s):</span><span style='color:#CD5C5C;'> Mr. Fink</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1846 Asad al-Akhbar Press
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Muhammad Qamaruddin Khan</span><br><span style='color:#000000;'>Newspaper/periodical(s):</span><span style='color:#CD5C5C;'> Asad al-Akhbar</span><br><span style='color:#000000;'>Editor(s):</span><span style='color:#CD5C5C;'> Muhammad Qamaruddin Khan</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1848 Akbari Press
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Munshi Sheikh Khadim Ali</span><br><span style='color:#000000;'>Manager/superintendent:</span><span style='color:#CD5C5C;'> Munshi Sheikh Khadim Ali</span><br><span style='color:#000000;'>Newspaper/periodical(s):</span><span style='color:#CD5C5C;'> Matla al-Akbari</span><br><span style='color:#000000;'>Editor(s):</span><span style='color:#CD5C5C;'> Munshi Sheikh Khadim Ali</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1848 Husaini Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Hosseinee Press</span><br><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Badr al-Hasan</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1848 Masdar al-Nawadir Press
            <div class='pressclass' ><span style='color:#000000;'>Newspaper/periodical(s):</span><span style='color:#CD5C5C;'> Akhbar al-Nawah</span><br><span style='color:#000000;'>Editor(s):</span><span style='color:#CD5C5C;'> Jawahir Lal</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1848 Qadiri Press
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Muhammad Amir Khan</span><br><span style='color:#000000;'>Newspaper/periodical(s):</span><span style='color:#CD5C5C;'> Qutub al-Akhbar</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1849 Jam-e Jamshed Press
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Babu Shivchandar Nath</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1852 Nur al-Absar Press
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Munshi Sadasukh Lal</span><br><span style='color:#000000;'>Manager/superintendent:</span><span style='color:#CD5C5C;'> Munshi Sadasukh Lal</span><br><span style='color:#000000;'>Newspaper/periodical(s):</span><span style='color:#CD5C5C;'> Nur al-Absar (Urdu); Buddhi Prakash (Hindi)</span><br><span style='color:#000000;'>Editor(s):</span><span style='color:#CD5C5C;'> Munshi Sadasukh Lal</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1867 Press of Balgobind Mathur
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Balgobind Mathur</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1867 Satprakash Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Satiprakash, Suthperkash</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1867 Harihar Press
            <div class='pressclass' ></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1867 Ahmadi Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Ahmudee Press</span><br><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Mirza Agha Ali</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1867 Nur al-Ilm Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Madun Faiz Press</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1867 Muhammadi Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Mahomdee Press; Mutba Mahomdee; Mahumdi Press</span><br><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Wazir Khan</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1867 Mufid Khalayaq Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Mufid Khulaik Press</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1867 Latafat Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Mutba Luttafut</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1867 Ijad Kishan Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Eejad Kishen Press</span><br><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Munshi Kishan Lal</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1867 Central Prison Press
            <div class='pressclass' ></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1867 Vidya Ratankur Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Vidya Rutunkur</span><br><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Vidya Ratankur</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1867 Delhi Gazette Press (Agra)
            <div class='pressclass' ><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> William Deugo</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1867 Altafat Press
            <div class='pressclass' ></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1868 Chaganlal Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Chhagan Lal Press</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1868 Shree Narayan Press
            <div class='pressclass' ></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1868 Agha Ali Press
            <div class='pressclass' ></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1868 Press of Syed Hussain Ali
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Syed Hussain Ali</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1868 Madan Fez Press
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Pandit Bansidhar</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1868 Jwala Prasad Press
            <div class='pressclass' ></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1868 Ratnakar Press
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Pandit Keso Prashad</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1868 Pundit Kesho Parsada Press
            <div class='pressclass' ></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1868 Imam ad-Din Press
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Imam ad-Din</span><br><span style='color:#000000;'>Manager/superintendent:</span><span style='color:#CD5C5C;'> Imam ad-Din</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1869 Papmochan Press
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Shri Krishna</span><br><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> Shri Krishna</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1869 Ilahi Press
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Machchhu Khan</span><br><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> Machchhu Khan</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1869 Mufid-e Am Press
            <div class='pressclass' ><span style='color:#000000;'>Proprietor/founder:</span><span style='color:#CD5C5C;'> Ahmad Khan Sufi</span><br><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> Ahmad Khan Sufi</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1869 Educational Press
            <div class='pressclass' ><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> Munshi Yusuf Ali; Munshi Amir al-Din</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1869 Shivnarain Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Shivnarayan Press</span><br><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> Shivnarayan</span><br><span style='color:#000000;'>Editor(s):</span><span style='color:#CD5C5C;'> Shivnarayan</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1870 Juggan Khan Press
            <div class='pressclass' ><span style='color:#000000;'>Manager/superintendent:</span><span style='color:#CD5C5C;'> Juggan Khan</span><br><span style='color:#000000;'>Editor(s):</span><span style='color:#CD5C5C;'> Juggan Khan</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1870 Keshavprasad Press
            <div class='pressclass' ><span style='color:#000000;'>Manager/superintendent:</span><span style='color:#CD5C5C;'> Keshavprasad</span><br><span style='color:#000000;'>Editor(s):</span><span style='color:#CD5C5C;'> Keshavprasad</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1870 Ramdhan Lal Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Ram Dhan Lal Press</span><br><span style='color:#000000;'>Manager/superintendent:</span><span style='color:#CD5C5C;'> Ramdhan Lal</span><br><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> Ramdhan Lal</span><br><span style='color:#000000;'>Editor(s):</span><span style='color:#CD5C5C;'> Ramdhan Lal</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1871 Mola Bakhsh Press
            <div class='pressclass' ><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> Mola Bakhsh</span><br><span style='color:#000000;'>Editor(s):</span><span style='color:#CD5C5C;'> Mola Bakhsh</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1872 Mohan Lal Press
            <div class='pressclass' ><span style='color:#000000;'>Manager/superintendent:</span><span style='color:#CD5C5C;'> Mohan Lal</span><br><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> Mohan Lal</span><br><span style='color:#000000;'>Editor(s):</span><span style='color:#CD5C5C;'> Mohan Lal</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1872 Job Press
            <div class='pressclass' ><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> Baboo Paul Singh</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1873 Durga Prasad Press
            <div class='pressclass' ><span style='color:#000000;'>Other Name of Press:</span><span style='color:#CD5C5C;'> Durga Prasad Shukla Press</span><br><span style='color:#000000;'>Manager/superintendent:</span><span style='color:#CD5C5C;'> Pandit Durga Prasad Shukla</span><br><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> Pandit Durga Prasad Shukla</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1873 Jawarlal Press
            <div class='pressclass' ><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> Hakim Jawarlal</span><br></div>
        </div>
        <hr>
    </li>
    <br>
    <li>
        <div style='color:#CD5C5C;' id='Agra' class='locationclass' >
            1894 Moon Press
            <div class='pressclass' ><span style='color:#000000;'>Printer:</span><span style='color:#CD5C5C;'> Rupnarayan</span><br></div>
        </div>
        <hr>
    </li>
</ul>